*{
  margin: 0;
  padding: 0;
}
.main{
  position:fixed;
  top: 0;
  width: 100%;
  padding: 5px;
  height:100px;
  background-color: rgb(171, 222, 62);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  z-index: 100;
}
.navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 15px 0px;
  font-size: 18px;
  z-index: auto;
}
.navbar  .logo{
    width: 100px;
    cursor: pointer; 
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: -10px;
    border: 6px solid rgb(143, 108, 120);
    
}
ul li{
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}
.navbar ul li a{
  text-decoration: none;
  color: rgb(5, 13, 3);
  font-size: 26px;
  border: 2px solid darksalmon;
  padding: 5px 10px;
  border-radius: 5px;
  transition: .5s ease;
}
.navbar ul li a:hover{
  background-color: rgb(216, 133, 162);
  color: white;
}
body{
  background-color: rgb(93, 101, 26);
}

.info{
  margin-left: 65px;
  margin-top: 16%;
  display: flex;
  flex-direction: column;
}
.info h1{
  font-size: 50px;
  color: rgb(195, 220, 224);
  width:500px;
}
.info h2{
  font-size: 25px;
  color: rgba(34, 66, 79, 0.865);
  margin-top: 20px;
  line-height:33px;
  width: 500px;
}
.info h3{
  font-size: 20px;
  color: rgb(58, 50, 57);
  margin-top: 20px;
  width:500px;
}
.info span{
  color: rgb(220, 168, 84);
}
.info a{
  text-decoration: none;
  color: rgb(237, 233, 227);
  font-size: 20px;
  margin: 26px 0;
  padding: 10px 18px;
  border-radius: 10px;
  display: inline-block;
  background: rgb(9, 8, 8);
  transition:.4s ease;
  width:70px;
}
.info a:hover{
  background-color: rgb(202, 114, 182);
  color: rgb(228, 222, 222);
}
.profile{
  position:absolute;
  right: 100px;
  top: 250px;
}
.image{
  width: 300px;
  height: 300;
  border-radius: 50%;
  border: 5px solid;
  float: right;
}

.image:hover{
  border-color: rgb(255, 255, 255);
  transition: .3s ease;
}

.skills{
    margin-top: 67px;
    padding: 40px;
    text-align: center;
    background-color: #4e7e4f;
    height: 100%;
}

.skill-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill-item{
    background-color: white;
    width: 250px;
    margin: 10px;
    padding: 15px;
    border: 1px dotted #ccc;
    border-radius: 10px;
    background-color: rgb(173, 173, 205);
    transition: 0.3s ease;
}
.skill-item:hover{
    background-color: rgb(104, 189, 188);
    transform: scale(1.05);
    transition: .3s ease;
}

.skill-item h2{
    margin-bottom: 8px;
}

.skill-item p{
    font-size: 22px;
}
.contact{
    padding: 40px;
    text-align: center;
    background-color: #ccf797;
}

.contact h1{
    margin-bottom: 10px;
}

.contact ul{
    list-style: none;   
    padding: 0;
}

.contact li{
    margin: 10px 0;
    font-size: 18px;
    border: #18a81a solid 3px;
    padding: 20px;
    border-radius: 10px;
}
.contact li:hover{
    background-color: rgb(18, 167, 18);
    color: white;
    transition: .3s ease;
}

.contact a{
    text-decoration: none;  
    color: blue;
}





